body {
  text-align: center;
  font-family: helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header {
  font-size: 18px;
  background-image: url("flatiron.png");
}

a:link, a:visited {
  color: white;
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
}

.body p {
  font-size: 14px;
}

#newyork {
  color: white;
  background-image: url("flatiron.png");
}

.footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
